$icomoon-font-family: "icons-miraup" !default;
$icomoon-font-path: "../../img/icons/fonts" !default;

$icon-miraup-airplay: "\e900";
$icon-miraup-android: "\e901";
$icon-miraup-apple: "\e902";
$icon-miraup-apple-01: "\e903";
$icon-miraup-archive: "\e904";
$icon-miraup-arrow-down: "\e905";
$icon-miraup-arrow-down-simple: "\e906";
$icon-miraup-arrow-down-square: "\e907";
$icon-miraup-arrow-left: "\e908";
$icon-miraup-arrow-left-simple: "\e909";
$icon-miraup-arrow-left-square: "\e90a";
$icon-miraup-arrow-right: "\e90b";
$icon-miraup-arrow-right-simple: "\e90c";
$icon-miraup-arrow-right-square: "\e90d";
$icon-miraup-arrow-up: "\e90e";
$icon-miraup-arrow-up-down: "\e90f";
$icon-miraup-arrow-up-simple: "\e910";
$icon-miraup-arrow-up-square: "\e911";
$icon-miraup-at: "\e912";
$icon-miraup-atm: "\e913";
$icon-miraup-avocado: "\e914";
$icon-miraup-backward: "\e915";
$icon-miraup-backward-15-sec: "\e916";
$icon-miraup-badge-discount: "\e917";
$icon-miraup-balance: "\ea47";
$icon-miraup-bank: "\e918";
$icon-miraup-bank-note: "\e919";
$icon-miraup-bar-01-average: "\e91a";
$icon-miraup-bar-01-down: "\e91b";
$icon-miraup-bar-01-up: "\e91c";
$icon-miraup-bar-02-average: "\e91d";
$icon-miraup-bar-02-down: "\e91e";
$icon-miraup-bar-02-up: "\e91f";
$icon-miraup-barcode: "\e920";
$icon-miraup-baseball-ball: "\e921";
$icon-miraup-basketball-ball: "\e922";
$icon-miraup-basketball-hoop: "\e923";
$icon-miraup-battery-100: "\e924";
$icon-miraup-beaker: "\e925";
$icon-miraup-behance: "\e926";
$icon-miraup-bell: "\e927";
$icon-miraup-bookmark: "\e928";
$icon-miraup-bowling-ball: "\e929";
$icon-miraup-boxes: "\e92a";
$icon-miraup-briefcase: "\e92b";
$icon-miraup-brightness-down: "\e92c";
$icon-miraup-brightness-up: "\e92d";
$icon-miraup-brush: "\e92e";
$icon-miraup-bubble-race: "\e92f";
$icon-miraup-buetooth: "\e930";
$icon-miraup-building: "\e931";
$icon-miraup-burger: "\e932";
$icon-miraup-burger-01: "\e933";
$icon-miraup-cabinet-files: "\e934";
$icon-miraup-calculator: "\e935";
$icon-miraup-calculator-01: "\e936";
$icon-miraup-calendar: "\e937";
$icon-miraup-camera: "\e938";
$icon-miraup-candlesticks: "\e939";
$icon-miraup-candlesticks-down: "\e93a";
$icon-miraup-candlesticks-up: "\e93b";
$icon-miraup-carrot: "\e93c";
$icon-miraup-chart-bar: "\e93d";
$icon-miraup-check: "\e93e";
$icon-miraup-circle: "\e93f";
$icon-miraup-circle-square: "\e940";
$icon-miraup-circular-01: "\e941";
$icon-miraup-circular-02: "\e942";
$icon-miraup-clock: "\e943";
$icon-miraup-close: "\e944";
$icon-miraup-close-circle: "\e945";
$icon-miraup-close-square: "\e946";
$icon-miraup-coin: "\e947";
$icon-miraup-coins: "\e948";
$icon-miraup-column-01-average: "\e949";
$icon-miraup-column-01-down: "\e94a";
$icon-miraup-column-01-up: "\e94b";
$icon-miraup-column-02-average: "\e94c";
$icon-miraup-column-02-down: "\e94d";
$icon-miraup-column-02-up: "\e94e";
$icon-miraup-column-line-down: "\e94f";
$icon-miraup-column-line-up: "\e950";
$icon-miraup-comment: "\e951";
$icon-miraup-computer-mouse: "\e952";
$icon-miraup-config: "\e953";
$icon-miraup-controller: "\e954";
$icon-miraup-coupon-discount: "\e955";
$icon-miraup-credit-card: "\e956";
$icon-miraup-crop-tool: "\e957";
$icon-miraup-cup: "\e958";
$icon-miraup-cup-01: "\e959";
$icon-miraup-cup-02: "\e95a";
$icon-miraup-cup-top-go: "\e95b";
$icon-miraup-darts: "\e95c";
$icon-miraup-delivery-truck: "\e95d";
$icon-miraup-design-grid: "\e95e";
$icon-miraup-discount: "\e95f";
$icon-miraup-donut: "\e960";
$icon-miraup-doughnut: "\e961";
$icon-miraup-download: "\e962";
$icon-miraup-dribbble: "\e963";
$icon-miraup-earphones: "\e964";
$icon-miraup-edit: "\e965";
$icon-miraup-eject: "\e966";
$icon-miraup-electrical-plug: "\e967";
$icon-miraup-email: "\e968";
$icon-miraup-eraser: "\e969";
$icon-miraup-exit-full-screen: "\e96a";
$icon-miraup-eye: "\e96b";
$icon-miraup-eye-close: "\ea46";
$icon-miraup-facebook: "\e96c";
$icon-miraup-fast-backward: "\e96d";
$icon-miraup-fast-forward: "\e96e";
$icon-miraup-fencing: "\e96f";
$icon-miraup-figma: "\e970";
$icon-miraup-file: "\e971";
$icon-miraup-file-alert: "\e972";
$icon-miraup-file-archive: "\e973";
$icon-miraup-file-chart: "\e974";
$icon-miraup-file-chart-line: "\e975";
$icon-miraup-file-check: "\e976";
$icon-miraup-file-code: "\e977";
$icon-miraup-file-cross: "\e978";
$icon-miraup-file-document: "\e979";
$icon-miraup-file-download: "\e97a";
$icon-miraup-file-erase: "\e97b";
$icon-miraup-file-image: "\e97c";
$icon-miraup-file-minus: "\e97d";
$icon-miraup-file-music: "\e97e";
$icon-miraup-file-plus: "\e97f";
$icon-miraup-file-search: "\e980";
$icon-miraup-file-star: "\e981";
$icon-miraup-file-table: "\e982";
$icon-miraup-file-text: "\e983";
$icon-miraup-file-upload: "\e984";
$icon-miraup-file-video: "\e985";
$icon-miraup-filter: "\e986";
$icon-miraup-flag: "\e987";
$icon-miraup-flash-drive: "\e988";
$icon-miraup-flip-chart: "\e989";
$icon-miraup-folder: "\e98a";
$icon-miraup-fork-knife: "\e98b";
$icon-miraup-forward: "\e98c";
$icon-miraup-forward-15-sec: "\e98d";
$icon-miraup-fottball-ball: "\e98e";
$icon-miraup-foursquare: "\e98f";
$icon-miraup-french-fries: "\e990";
$icon-miraup-full-screen: "\e991";
$icon-miraup-gift: "\e992";
$icon-miraup-glass: "\e993";
$icon-miraup-globe: "\e994";
$icon-miraup-gold: "\e995";
$icon-miraup-google: "\e996";
$icon-miraup-grid: "\e997";
$icon-miraup-grid-horizontal: "\e998";
$icon-miraup-grid-vetical: "\e999";
$icon-miraup-hand-cart: "\e99a";
$icon-miraup-hand-sanitizer: "\e99b";
$icon-miraup-hat-chef: "\e99c";
$icon-miraup-heart: "\e99d";
$icon-miraup-heart-rate: "\e99e";
$icon-miraup-hockey: "\e99f";
$icon-miraup-home: "\e9a0";
$icon-miraup-hospital-building: "\e9a1";
$icon-miraup-hourglass: "\e9a2";
$icon-miraup-icon-cream: "\e9a3";
$icon-miraup-image: "\e9a4";
$icon-miraup-info: "\e9a5";
$icon-miraup-insert: "\e9a6";
$icon-miraup-instagram: "\e9a7";
$icon-miraup-intravenous-therapy: "\e9a8";
$icon-miraup-keyboard: "\e9a9";
$icon-miraup-laptop: "\e9aa";
$icon-miraup-library-album: "\e9ab";
$icon-miraup-library-video: "\e9ac";
$icon-miraup-light-bulb: "\e9ad";
$icon-miraup-lightning: "\e9ae";
$icon-miraup-line-01-down: "\e9af";
$icon-miraup-line-01-up: "\e9b0";
$icon-miraup-line-02-down: "\e9b1";
$icon-miraup-line-02-up: "\e9b2";
$icon-miraup-line-03-down: "\e9b3";
$icon-miraup-line-03-up: "\e9b4";
$icon-miraup-linkedin: "\e9b5";
$icon-miraup-list: "\e9b6";
$icon-miraup-loading: "\e9b7";
$icon-miraup-location: "\e9b8";
$icon-miraup-lock: "\e9b9";
$icon-miraup-lollipop: "\e9ba";
$icon-miraup-map: "\e9bb";
$icon-miraup-map-marker: "\e9bc";
$icon-miraup-medal: "\e9bd";
$icon-miraup-medical-case: "\e9be";
$icon-miraup-medical-chart: "\e9bf";
$icon-miraup-medical-mask: "\e9c0";
$icon-miraup-medicine-bottle: "\e9c1";
$icon-miraup-medicine-sanitizer: "\e9c2";
$icon-miraup-megaphone: "\e9c3";
$icon-miraup-messenger: "\e9c4";
$icon-miraup-microchip: "\e9c5";
$icon-miraup-microphone: "\e9c6";
$icon-miraup-minus-1: "\e9c7";
$icon-miraup-minus-2: "\e9c8";
$icon-miraup-minus-square: "\e9c9";
$icon-miraup-mobile: "\e9ca";
$icon-miraup-modem: "\e9cb";
$icon-miraup-monitor: "\e9cc";
$icon-miraup-more: "\e9cd";
$icon-miraup-movie: "\e9ce";
$icon-miraup-music-01: "\e9cf";
$icon-miraup-music-02: "\e9d0";
$icon-miraup-netflix: "\e9d1";
$icon-miraup-next: "\e9d2";
$icon-miraup-none: "\e9d3";
$icon-miraup-options-square: "\e9d4";
$icon-miraup-paint-bucket: "\e9d5";
$icon-miraup-paint-roller: "\e9d6";
$icon-miraup-palette: "\e9d7";
$icon-miraup-pause: "\e9d8";
$icon-miraup-pause-circle: "\e9d9";
$icon-miraup-pear: "\e9da";
$icon-miraup-pen: "\e9db";
$icon-miraup-pencil: "\e9dc";
$icon-miraup-perspective: "\e9dd";
$icon-miraup-petri-dish: "\e9de";
$icon-miraup-phone: "\e9df";
$icon-miraup-picker: "\e9e0";
$icon-miraup-picture-in-picture: "\e9e1";
$icon-miraup-pie-01: "\e9e2";
$icon-miraup-pie-02: "\e9e3";
$icon-miraup-pie-03: "\e9e4";
$icon-miraup-pie-04: "\e9e5";
$icon-miraup-pill: "\e9e6";
$icon-miraup-pinterest: "\e9e7";
$icon-miraup-pizza-slice: "\e9e8";
$icon-miraup-platch: "\e9e9";
$icon-miraup-play: "\e9ea";
$icon-miraup-play-cicle: "\e9eb";
$icon-miraup-plus-1: "\e9ec";
$icon-miraup-plus-2: "\e9ed";
$icon-miraup-plus-square: "\e9ee";
$icon-miraup-previous: "\e9ef";
$icon-miraup-printer: "\e9f0";
$icon-miraup-product-hunt: "\e9f1";
$icon-miraup-question: "\e9f2";
$icon-miraup-rec: "\e9f3";
$icon-miraup-receipt: "\e9f4";
$icon-miraup-route: "\e9f5";
$icon-miraup-safe: "\e9f6";
$icon-miraup-salt-shaker: "\e9f7";
$icon-miraup-scale: "\e9f8";
$icon-miraup-scatter-down: "\e9f9";
$icon-miraup-scatter-up: "\e9fa";
$icon-miraup-scoreboard: "\e9fb";
$icon-miraup-search: "\e9fc";
$icon-miraup-serving-plate: "\e9fd";
$icon-miraup-settings: "\e9fe";
$icon-miraup-settings-01: "\e9ff";
$icon-miraup-settings-02: "\ea00";
$icon-miraup-share-square: "\ea01";
$icon-miraup-shethoscope: "\ea02";
$icon-miraup-shop: "\ea03";
$icon-miraup-shopping-bag: "\ea04";
$icon-miraup-shopping-basket: "\ea05";
$icon-miraup-shopping-cart: "\ea06";
$icon-miraup-shopping-tag: "\ea07";
$icon-miraup-shorts: "\ea08";
$icon-miraup-signal: "\ea09";
$icon-miraup-sign-out: "\ea0a";
$icon-miraup-sketch: "\ea0b";
$icon-miraup-slice-tool: "\ea0c";
$icon-miraup-smart-watch: "\ea0d";
$icon-miraup-smile: "\ea0e";
$icon-miraup-soccer-field: "\ea0f";
$icon-miraup-sort: "\ea10";
$icon-miraup-soundcloud: "\ea11";
$icon-miraup-soup: "\ea12";
$icon-miraup-speakers: "\ea13";
$icon-miraup-sports-flag: "\ea14";
$icon-miraup-stacked-area-down: "\ea15";
$icon-miraup-stacked-area-up: "\ea16";
$icon-miraup-stacked-column-01-average: "\ea17";
$icon-miraup-stacked-column-01-down: "\ea18";
$icon-miraup-stacked-column-01-up: "\ea19";
$icon-miraup-stacked-column-02-average: "\ea1a";
$icon-miraup-stacked-column-02-down: "\ea1b";
$icon-miraup-stacked-column-02-up: "\ea1c";
$icon-miraup-standings: "\ea1d";
$icon-miraup-start: "\ea1e";
$icon-miraup-stichy-note: "\ea1f";
$icon-miraup-stop: "\ea20";
$icon-miraup-stop-circle: "\ea21";
$icon-miraup-stopwatch: "\ea22";
$icon-miraup-stretch-height: "\ea23";
$icon-miraup-stretch-width: "\ea24";
$icon-miraup-subtitles: "\ea25";
$icon-miraup-syringe: "\ea26";
$icon-miraup-table-tennis: "\ea27";
$icon-miraup-tablets: "\ea28";
$icon-miraup-test-tube: "\ea29";
$icon-miraup-text: "\ea2a";
$icon-miraup-thermometer: "\ea2b";
$icon-miraup-tie: "\ea2c";
$icon-miraup-tiktok: "\ea2d";
$icon-miraup-toilet-paper: "\ea2e";
$icon-miraup-toothbrush: "\ea2f";
$icon-miraup-trello: "\ea30";
$icon-miraup-triangle-ruler: "\ea31";
$icon-miraup-t-shirt: "\ea32";
$icon-miraup-twitter: "\ea33";
$icon-miraup-umbrella: "\ea34";
$icon-miraup-user: "\ea35";
$icon-miraup-vector-edit: "\ea36";
$icon-miraup-video: "\ea37";
$icon-miraup-virus: "\ea38";
$icon-miraup-volume: "\ea39";
$icon-miraup-volume-down: "\ea3a";
$icon-miraup-volume-mute: "\ea3b";
$icon-miraup-volume-up: "\ea3c";
$icon-miraup-wallet: "\ea3d";
$icon-miraup-weight: "\ea3e";
$icon-miraup-whistle: "\ea3f";
$icon-miraup-wifi: "\ea40";
$icon-miraup-windows: "\ea41";
$icon-miraup-wine-glass: "\ea42";
$icon-miraup-youtube: "\ea43";
$icon-miraup-zoom-in: "\ea44";
$icon-miraup-zoom-out: "\ea45";

